body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .header {
    text-align: center;
    background-color: #3703b1;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }

  main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .skills ul {
    list-style-type: square;
    margin: 10px 0 0 20px;
  }
  
  a {
    color: #3703b1;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3703b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  button:hover {
    background-color: #290284;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .project {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3703b1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    display: none; 
  }

  .back-to-top:hover {
    background-color: #290284;
  }
  .insignia {
    text-align: center;
    margin-top: 20px;
  }

  .language-selector {
    text-align: right;
    padding: 10px;
    background-color: #f4f4f9;
  }

  .language-selector button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  